@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    background-origin: padding-box;
}

.work-sans-font> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    font-family: "Work Sans", sans-serif; 
}

/* shared styles */

.text-gray{
   color: #424242;  /* dark 01 */
}

.text-light-gray{
    color: #727272; 
}
 
.bg-color1{
    background-color: rgba(255, 144, 14, 0.1);
}

.flex{
    display: flex;
}

.btn{
    background-color:rgba(255, 144, 14, 1) ;
    color: #FFFFFF;
    /* width: 180px;
    height: 65px; */
    padding:22px 50px ;
    border-radius: 8px;
    border: none;
    
}






header{
    /* max-width: 1440px; */
    margin: 0px auto;

   
   
}

nav{
    max-width: 1440px;
   margin: 15px auto;
    /* border: 1px solid brown; */
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}
.nav-text h3{
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

.nav-ul > li , .nav-ul a {
        list-style: none;
    text-decoration: none;
    color: #424242;
    
    font-weight: 500;
}

.nav-links{
    width:30%;
}
.nav-ul  {
    /* border: 1px solid tomato; */
    width:100%;
    color: #424242;
    justify-content: space-around;
}

.banner{
    /* border: 1px solid black; */
    max-width: 1440px;
    margin: 60px auto;
    text-align: center;
}

.banner-text{
    /* border: 1px solid tomato; */
     max-width: 860px;
     margin: 0px auto;
     margin-bottom: 90px;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    max-height:400px ;
    margin-top: 11px;
    gap: 26px;
    

}
.banner-brand{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description{
    color:#727272;
}

.banner img{
    width: 100%;
    
    margin: 0px auto;
}



/* main section========= */


.team{
    /* border: 1px solid black; */
    max-width: 1440px;
    margin: 130px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.team-img{
    /* border: 1px solid tomato; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 22px;
}

.features-sec{
    /* border: 1px solid; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 72%;
    margin: 0px auto;
    
}

.features-sec h3{
    font-size: 2.8rem;
    font-weight: 600;



}

.quick{
    color: #727272;
}
.of{
    color: #131313;
}
.features{
    color: rgba(255, 144, 14, 1);
}


.features-sec p{
    color: #727272;
}


/* features enjoy ==================== */


.features-enjoy{
    /* border: 1px solid tomato; */
    max-width: 1440px;
    display: flex;
    margin: 0px auto;
}

.enjoy-text{
    width: 60%;
    /* border: 1px solid aqua; */
}

.enjoy-img{
    width: 40%;

}

.enjoy-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.enjoy-tittle{
    color: #131313;
    font-size: 2.8rem;
    font-weight: bold;
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 22px;
    margin: 28px 0px;
}

.enjoy-tittle-description{
    width: 586px;
    color: #727272;
    margin-bottom: 22px;

}



.enjoy-card{
    width:586px;
    border-radius: 8px;
    background-color:#FFFFFF;
    /* text-align: left; */
    padding: 30px;
      box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
      margin-bottom: 15px;

}

.enjoy-card h3{
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 11px;
}

.enjoy-card p {
    color: #727272;
}

.enjoy-img button{
    /* width: 342px; */
    color: #FFFFFF;
    text-align: center;
    font-size: 2rem;
    padding: 40px;
    margin-top: -100px;
    margin-left: -100px;
}

.enjoy-img button span {
    font-size: 4rem;
    font-weight: 700;
}

.enjoy-img img{
    width: 100%;
    /* max-height: 900px; */
}


/* facts section================= */

.facts{
    /* border: 1px solid deepskyblue; */
    max-width: 1440px;
    margin: 0px auto;

}

.facts-text{
    /* border: 1px solid tomato; */
}


.facts-card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* justify-content: space-around; */
    /* justify-items:center; */

}

.facts-text h1{
        font-size: 2.8rem;
        font-weight: 700;
}

.facts-text p{
    color: #727272;
    max-width: 540px;
}

.factS-card{
    border: 1px solid rgba(255, 144, 14, 1);
    text-align: center;
    width: 242px;
    height: 242px;
    border-radius: 8px;

    /* display: flex;
    flex-direction: column;
    align-self: self-start; */


}

.factS-card > img, div, p {
    margin-top: 20px;
}

.factS-card div{
    font-size: 2.8rem;
    font-weight: 600;

}
.factS-card p{
    font-size: 1.25 rem;
    font-weight: 600;
}

.facts-para{
    margin-top: 11px;
}


.sponsors{
    /* border: 1px solid black; */
    max-width: 1440px ;
    margin: 100px auto;


}

.sponsors-text{

    /* border: 1px solid rebeccapurple; */
    max-width: 540px;
    margin: 10px auto ;
    text-align: center;
    margin-bottom: 40px;
}
.sponsors-text > h3{
        font-size: 2.8rem;
      font-weight: 700;
}
.sponsors-text p{
    color: #727272;
}

.sponsors-logos{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;

}

.sponsors-logos img{
        filter: grayscale(100%);
}
/* ========Responsive========== */


@media  screen and (max-width: 575.98px) {
    nav{
        /* flex-direction: column; */
        justify-content: space-between;
        align-items: center;
    }
    .nav-ul{
        /* flex-direction: column; */
        /* border: 1px solid tomato; */
        align-items: center;
        gap: 7px;
    }
    .nav-links{
        width: auto;
    }

    .nav-ul li{
        font-size: 1.06rem;
        font-weight: bolder;
    }
    .banner-brand{
        font-size: 2rem;
    }
    .banner-text{
        gap: 15px;
    }

    .nav-text h3{
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .nav-text h3 span{
        display: block;
        
    }


    .team{
        flex-direction: column;
        gap: 30px;
        margin: 0px auto;
        display: flex;
    }
    .team-img{
            grid-template-columns: repeat(1,1fr);
            order:10;
    }

    .features-sec{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .features-sec h3{
        font-size: 2.1rem;
        text-align: center;
    }

    .features-sec-container{
        order: 5;
    }

    .features-enjoy{
        flex-direction: column;
    }
    .enjoy-card{
        width: 83vw;
        padding: 25px;
    }
    .enjoy-text, .enjoy-img{
        width: 100vw;
        margin: 0px auto;
    }
    .enjoy-tittle-description{
        width:93vw;
    }

     .enjoy-img{
        display: flex;
        flex-direction: column;
        width: 97vw;
     }

    .enjoy-img button{

        margin: 0px auto;
        padding: 12px;
        margin-top: -2px;

    }

    .facts-card-container{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .facts-para{
        margin-top: 8px;
    }

    .sponsors-logos{
        grid-template-columns: repeat(1, 1fr);
        gap: 22px;
    }

 
    
}

/* =====for mediam devices======= */

@media screen and (min-width:576px) and (max-width:992px){
     .team{
        /* border: 5px solid red; */
        flex-direction: column;
        gap: 32px;
        margin: 0px auto;
     }
    
    .team-img{
        grid-template-columns: repeat(2,1fr);
    
        
    }

    .features-sec-container{
        order: 3;
        
    }

    .team-img{
        order: 4;
    }

    .features-sec{
        justify-content: center;
        align-items: center;
    }
    .features-sec h3{
        text-align: center;
    }

    .features-enjoy{
        max-width: 99vw;
        gap: 5px;
        margin-top: 12vh;
    }



    .enjoy-tittle-description{
        width: auto;
    }
    .enjoy-text{
        width: 50%;
    }
    .enjoy-img{
        width: 49%;
        display: flex;
        flex-direction: column;
    }

    .enjoy-card{
        width: auto;
    }

    .enjoy-img button{
        margin: -2px auto;
        padding: 40px 50px;

    }

    .factS-card > img, div, p{

        margin-top: 10px;
    }

    .facts-card-container{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }

    .facts-text {
        text-align: center;
    }
    .facts-para{
        margin: 0px auto;
    }

        .sponsors-logos{
        grid-template-columns: repeat(2, 1fr);
        /* justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center; */
        gap: 22px;
    }


}

